body{
  background-color: black;
  color: white;
  display: flex;
  margin: 0;
  padding 0;
  overflow-y: hidden;
  width: 100vw;
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-start;
}

#repeater{

  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: 'Oxygen', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  padding: 0;
  margin-bottom: 0px;
}

#mover p{
  font-size: 200%;
  font-weight: bolder;
/*   border: 4px inset white; */
  border-radius: 10px;
  display: flex;
  position: fixed;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  color: inherit;
  background-color: black; 

}

#mover #up{
  top: -20px;
  right: 10px;
  padding-bottom: 5px;
}
#mover #down{
  bottom: -20px;
  right: 10px;
  padding-bottom: 5px;
}

#repeater h1{
  text-decoration: underline;

}
.page{
  flex-direction: column;
  display: flex;
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page h1{
  font-size: 1000%;
  text-decoration: underline;
  font-family: 'Staatliches', cursive;
}

#gratio h1{
  font-size: 200%; 
  color: #ffe347;
  z-index: 1;
}

#gratio #circle{
  height: 100px;
  width: 100px;
  background-color: green;
}

#grid{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw; 
  height: 100vh; 
  position: absolute;
  top: calc(100vh *2); 
}

#gratio{
  display: flex;
  background-color: #EF767A;
  justify-content: flex-start;

}

.unit{
  display: flex;
  font-size: 0px;
  margin: 0;
  outline-offset: 0px;
  outline: 1px solid black;
}

#string{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
